<h1>Start a new tagging session</h1>

<p class="lead">Before you can start tagging needs in tweets, you should read and understand the following definition of customer needs:</p>

<blockquote>
    <p>One of the most important concepts of marketing is understanding the customer's requirements and how to satisfy them. Kotler and Armstrong divide customer requirements in three distinct categories: Needs, defined as "states of felt deprivation", which include the most basic human requirements for humans like food and shelter.
        Wants are people's desires for specific satisfiers of need and are shaped by society and personal preferences. When wants (for a specific product or service) are backed by the ability to buy them, they are called demands.
        A person might have the need for mobility, wants a car and demands a Volkswagen Golf.
        Needs are often intangible &ndash; for example the needs for mobility or financial security can be interpreted and satisfied in many ways.
        Therefore people concretize them implicitly by transforming them into wants and demands.
        For the purpose of this work &ndash; uncovering hidden opportunities for value creation by extracting customer requirements from micro blog data &ndash; there is little to be gained from differentiating between needs, wants and demands.
        Therefore we are going to stick with the term customer need &ndash; taking all three mentioned categories into account (needs, wants and demands).</p>
</blockquote>

<p class="lead">On the following pages you will identify whether or not micro blog messages from the domain of electric mobility contain needs or not. Please also consider implicit needs, being not directly expressed but rather "between the lines". Please note: It is possible that only very few of the shown tweets contain needs. Previous research shows that about 5 to 20% of all tweets contain needs. The tagging is still very valuable, even if no needs are identified.</p>

<p class="lead">Before you can start, you need to enter your name and select the language of the tweets you want to tag and one of two possible datasets. If you plan to tag multiple times, please always use the exact same name but select different languages and datasets.</p>

<p class="lead">Thank you very much for your help!</p>


<form id="start-form" action="/start" method="post" class="form-horizontal" style="margin-top: 40px;">
    <div class="form-group">
        <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" name="name" class="form-control" id="inputname" placeholder="Your Name">
        </div>
    </div>
    <div class="form-group">
        <label for="languageselect" class="col-sm-2 col-sm-offset-2 control-label">Language</label>
        <div class="col-sm-4">
            <select class="form-control" id="languageselect" name="language">
                <option value="de">German</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="datasetselect" class="col-sm-2 col-sm-offset-2 control-label">Dataset</label>
        <div class="col-sm-4">
            <select class="form-control" id="datasetselect" name="dataset">
                <option value="dataset1">Dataset 1</option>
                <option value="dataset2">Dataset 2</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="emobilityKnowledge" class="col-sm-2 col-sm-offset-2 control-label">E-Mobility Affinity</label>
        <div class="col-sm-4">
            <input type="hidden" id="emobilityKnowledge" name="emobilityKnowledge" data-slider-id='emobilitySlider' data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </div>
    </div>
    <div class="form-group">
        <label for="twitterKnowledge" class="col-sm-2 col-sm-offset-2 control-label">Twitter Affinity</label>
        <div class="col-sm-4">
            <input type="hidden" id="twitterKnowledge" name="twitterKnowledge" data-slider-id='twitterSlider' data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" class="btn btn-lg btn-success" id="start-button">Start Tagging</button>
        </div>
    </div>
</form>

