<h1>Tweet $progress/$tagSetSize: <small>$tweetId</small> </h1>

<p>Use one of the three buttons below to indicate whether the tweet at hand contains one or more explicitly or implicitly stated customer needs or no needs at all. </p>

<form id="mark-need-form" action="/save" method="post" style="margin-top: 40px;">
    <div class="form-group">
        <textarea name="tweetText" id="tweet-text" class="form-control">$tweetText</textarea>
    </div>
    <div class="form-group text-center">
        <input type="hidden" name="tweetId" id="tweetId" value="$tweetId"/>
        <input type="hidden" name="tag" id="tag"/>
        <button class="btn btn-success pull-left" id="mark-need">Contains Need(s)</button>
        <button class="btn btn-success pull-right" id="mark-nothing">Contains no Need(s)</button>
    </div>
</form>

<style type="text/css">
    #tweet-text {
        font-size: 24px;
        padding-bottom: 100px;
    }
</style>